**/xcuserdata/
**/Pods/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Flutter/ephemeral/
**/ServiceDefinitions.json
**/Runner/GeneratedPluginRegistrant.*
**/.symlinks/
*.iml
